doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="reset.css")
        link(rel="stylesheet", href="styles.css")
        title Velocity
    body 
        header.header 
            .container.header-container 
                h1.logo velocity
                nav.header-nav 
                    ul 
                        li 
                            a(href="http://") Home
                        li 
                            a(href="http://") Contact
        main.main 
            section.welcome 
                .container 
                    h2.welcome-title this is velocity
                    .welcome-links 
                        a.link-prime(href="http://") sign up
                        a.link-more(href="http://") learn more

      
