doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="reset.css")
        link(rel="stylesheet", href="styles.css")
        title Velocity
    body 
        header.header
            .container.header-container
                h1.logo velocity
                nav.header-nav 
                    ul 
                        li 
                            a(href="http://") Home
                        li 
                            a(href="http://") Contact
        main.main
            section.welcome
                .container 
                    h2.welcome-title this is velocity
                    .welcome-links 
                        a.link-prime(href="http://") sign up
                        a.link-more(href="http://") learn more
       
            section.about.common-section
                .container
                    .title-wrapper 
                        h3.title what we do
                        p.subtitle this is some text inside of a div block.

                    .cards-wrapper 
                        .card 
                            img(src="./img/card-icon-1.svg", alt="watch", srcset="")
                            h4 graphic design 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.
                        .card 
                            img(src="./img/card-icon-2.svg", alt="pointers", srcset="")
                            h4 awesome code 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.

                        .card 
                            img(src="./img/card-icon-3.svg", alt="box", srcset="")
                            h4 free template
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.
            
            section.services.common-section.common-section--dark
                .container
                    .title-wrapper 
                        h3.title services
                        p.subtitle this is some text inside of a div block.

                    .cards-wrapper 
                        .card 
                            img(src="./img/service-1.png", alt="bridge", srcset="")
                            h4 services one 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse&nbsp;varius.
                            a.link-more(href="http://") learn more
                        .card 
                            img(src="./img/service-2.png", alt="bridge", srcset="")
                            h4 services two 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse&nbsp;varius.
                            a.link-more(href="http://") learn more
      
