doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="reset.css")
        link(rel="stylesheet", href="styles.css")
        link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
        title Velocity
    body 
        header.header
            .container.header-container
                h1.logo velocity
                nav.header-nav 
                    ul 
                        li 
                            a(href="http://") Home
                        li 
                            a(href="http://") Contact
        main.main
            section.welcome
                .container 
                    h2.welcome-title this is velocity
                    .welcome-links 
                        a.link-prime(href="http://") sign up
                        a.link-more(href="http://") learn more
       
            section.about.common-section
                .container
                    .title-wrapper 
                        h3.title what we do
                        p.subtitle this is some text inside of a div block.

                    .cards-wrapper 
                        .card 
                            img(src="./img/card-icon-1.svg", alt="watch", srcset="")
                            h4 graphic&nbsp;design 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.
                        .card 
                            img(src="./img/card-icon-2.svg", alt="pointers", srcset="")
                            h4 awesome code 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.
                            //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.

                        .card 
                            img(src="./img/card-icon-3.svg", alt="box", srcset="")
                            h4 free template
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit architecto quibusdam cum.
            
            section.services.common-section.common-section--dark
                .container
                    .title-wrapper 
                        h3.title services
                        p.subtitle this is some text inside of a div block.

                    .cards-wrapper 
                        .card 
                            img(src="./img/service-1.png", alt="bridge", srcset="")
                            h4 services one 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse&nbsp;varius.
                            a.link-more(href="http://") learn more
                        .card 
                            img(src="./img/service-2.png", alt="bridge", srcset="")
                            h4 services two 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse&nbsp;varius.
                            a.link-more(href="http://") learn more
            section.tab.common-section 

                .container
                    .title-wrapper 
                        h3.title tab section
                        p.subtitle this is some text inside of a div block.
                    .tabs 
                        .tabs-nav 
                            button.active(type="button") tab button 1
                            button(type="button") tab button 2
                            button(type="button") tab button 3
                        .tabs-item 
                            img(src="./img/photographer.jpg", alt="", srcset="")
                            h4 some title here 1
                            .tab-desc
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                        .tabs-item 
                            img(src="./img/fast-cheetah.jpeg", alt="", srcset="")
                            h4 some title here 2
                            .tab-desc
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                        .tabs-item 
                            img(src="./img/mojave-desert.jpg", alt="", srcset="")
                            h4 some title here 3
                            .tab-desc
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        footer.footer 
            .footer-desc 
                .container.footer-container
                    .footer-about 
                        h4 about velocity 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. 
                        
                        
                        
                    .useful-links 
                        h4 useful links 
                        ul
                            li
                                a(href="") Phasellus gravida semper nisi
                            li
                                a(href="") Suspendisse nisl elit
                            li
                                a(href="") Dellentesque habitant morbi
                            li
                                a(href="") Etiam sollicitudin ipsum
                    .social 
                        h4 social 
                        ul
                            li
                                img(src="./img/twitter-icon.svg", alt="twitter")
                                a(href="") Twitter
                                
                            li
                               img(src="./img/facebook-icon.svg", alt="facebook")
                               a(href="") Facebook
                               
                            li
                               img(src="./img/pinterest-icon.svg", alt="pinterest")
                               a(href="") Pinterest
                               
                            li
                               img(src="./img/google-icon.svg", alt="google")
                               a(href="") Google
                               
                            li
                               img(src="./img/wb-icon.svg", alt="webflow")
                               a(href="") Webflow
                               
            .copyright
                .container 
                    p Copyright Velocity Inc. Made in Webflow.
        script(src="script.js") 

      
