@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #6A859C;
    line-height: 1.8;
    /* 25 / 14 = 1.8 */
}

.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: aliceblue;


}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 60px; */
}

.logo {
    font-size: 25px;
    line-height: 1;
    color: #69B9FF;
    letter-spacing: 4px;
    text-transform: uppercase;

    text-align: left;
}

.header-nav ul {
    display: flex;


}

.header-nav li+li {
    margin-left: 40px;
}

/* .header-nav li:last-child {
    padding-right: 20px;
} */


.header-nav a {
    color: #676770;
    font-size: 16px;
    line-height: 1.25;
    transition: color 0.3s;
}

.header-nav a:hover {

    color: #0082F3;
}

.header-nav a:active {

    color: #0065BD;
}


/* main */
/* main */
/* main */

.main {}

.welcome {
    color: #fff;
    min-height: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    padding: 195px 0;
    ;

    background-image: url('/img/velocity-bg.jpg');
    background-color: #242730;
    background-size: cover;
    background-position: center;


}

.welcome-title {
    font-size: 59px;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 106px;
}

.welcome-links>*+* {
    margin-left: 20px;
}

.link-prime {
    display: inline-block;
    /* height: 45px; */
    font-size: 16px;
    letter-spacing: 2px;
    padding: 11px 31px;
    background-color: #69B9FF;
    border-radius: 4px;
    transition: background-color 0.3ms;
}

.link-prime:hover {
    background-color: #7AC1FF;
}

.link-prime:active {
    background-color: #70b3ee;
}

.link-more {
    display: inline-block;
    /* height: 43px; */
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 4px;
    /* height: 43px;
    width: 183px; */
    padding: 10px 31px;
    transition: background-color 0.2ms;
}

.link-more:hover {
    background-color: rgba(255, 255, 255, 0.247);

}

.link-more:active {
    background-color: rgba(255, 255, 255, 0.3);
}