@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #6A859C;
    line-height: 1.8;
    /* 25 / 14 = 1.8 */
}

.header {
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 60px; */
}

.logo {
    font-size: 25px;
    line-height: 1;
    color: #69B9FF;
    letter-spacing: 4px;
    text-transform: uppercase;

    text-align: left;
}

.header-nav ul {
    display: flex;


}

.header-nav li+li {
    margin-left: 40px;
}

/* .header-nav li:last-child {
    padding-right: 20px;
} */


.header-nav a {
    color: #676770;
    font-size: 16px;
    line-height: 1.25;
    transition: color 0.3s;
}

.header-nav a:hover {

    color: #0082F3;
}

.header-nav a:active {

    color: #0065BD;
}


/* main */
/* main */
/* main */

.welcome {
    color: whitesmoke;
    min-height: 900px;
    background-image: url('/img/velocity-bg.jpg');
    background-size: cover;
    background-position: center;

}