@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --logo: #69B9FF;
    --bg-active: #2e80b6;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    color: #676770;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.subtitle {
    color: #8E8E9C;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.common_section {
    text-align: center;
    padding: 80px 0;
}

.common_section__dark {
    background-color: #192024;
    color: #ffff;
}

.common_section__dark .title {
    color: #ffffff;
}

.common_section__dark .subtitle {
    color: #E8E8E8;
}

.common_section__dark h4 {
    color: #E8E8E8;
}

.common_section__dark p {
    color: #E8E8E8;
}



.title_wrapper {
    margin: 0 10px 60px;
}

p {
    color: #6A859C;
    line-height: 1.8;
    /* 25 / 14 = 1.8 */
}

.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: aliceblue;
    /* background: linear-gradient(180deg, aliceblue, 90%, rgb(233, 233, 233)); */
    box-shadow:
        inset 0px 15px 10px -20px rgba(197, 197, 197, 0.836),
        inset 0px -15px 10px -20px rgba(197, 197, 197, 0.836);


}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 60px; */
}

.logo {
    font-size: 25px;
    line-height: 1;
    color: var(--logo);
    letter-spacing: 4px;
    text-transform: uppercase;

    text-align: left;
}

.header_nav ul {
    display: flex;


}

.header_nav li+li {
    margin-left: 40px;
}

/* .header-nav li:last-child {
    padding-right: 20px;
} */


.header_nav a {
    color: #676770;
    font-size: 16px;
    line-height: 1.25;
    transition: color 0.3s;
}

.header_nav a:hover {
    color: #0082F3;
}

.header_nav a:active {
    color: #0065BD;
}


/* main */
/* main */
/* main */

.welcome {
    color: #fff;
    min-height: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    padding: 195px 0;
    background-image: url('/img/velocity-bg.jpg');
    background-color: #242730;
    background-size: cover;
    background-position: center;
}

.welcome_title {
    font-size: 59px;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 106px;
}

.welcome_links>*+* {
    margin-left: 20px;
}

.link_prime {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 11px 31px;
    background-color: #69B9FF;
    border-radius: 4px;
    transition: background-color 0.3ms;
}

.link_prime:hover {
    background-color: #7AC1FF;
}

.link_prime:active {
    background-color: #70b3ee;
}

.link_more {
    display: inline-block;
    text-transform: uppercase;
    /* height: 43px; */
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 4px;
    /* height: 43px;
    width: 183px; */
    padding: 10px 31px;
    transition: background-color 0.2ms;
}

.link_more:hover {
    background-color: rgba(255, 255, 255, 0.247);

}

.link_more:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.hide {
    display: none;
}

/* ABOUT
ABOUT
ABOUT */

.about {
    display: flex;
    justify-content: center;


}





.about .cards_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* width: 960px; */

}

.about .card {
    max-width: 300px;
    padding: 36px 16px 25px;
    margin: 0 10px;
    border: 1px solid #DCEBF7;
    border-radius: 5px;

}

/* .about .card+.card {
    margin-left: 20px;
} */

h4 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    color: #676770;
    margin-bottom: 14px;

}

.about .card img {
    width: 94px;
    height: 94px;
    object-fit: contain;
    margin-bottom: 20px;
}



/* WHAT WE DO */
/* WHAT WE DO */
/* WHAT WE DO */

.services .cards_wrapper {
    display: flex;
    justify-content: space-between;


}

.services .card {
    width: 45%;
}

.services .card img {
    margin-bottom: 20px;
}

.services .link_more {
    margin-top: 15px;
}


/* TAB SECTION  */
/* TAB SECTION  */
/* TAB SECTION  */

.tabs_nav {
    /* border: 1px solid black; */
    margin-bottom: 50px;
}

.tabs_nav button {
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #92A0AD;
    border-radius: 4px;
    padding: 1px 30px;
    transition: background-color 1s;

}

.tabs_nav button+button {
    margin-left: 16px;
}

.tabs_nav button.active {
    background-color: var(--bg-active);
}

.tabs_item {
    animation: neverfadeaway 3s;
}

@keyframes neverfadeaway {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }

}

.tabs_item img {
    margin-bottom: 15px;
}

.tabs_item h4 {
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: 31px;
    line-height: 1.1;
}

.tab_desc {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}


/* FOOTER
FOOTER
FOOTER */

.footer_desc {
    padding: 35px 0;
}

.footer_desc a {
    font-size: 13px;
    line-height: 1.5;
    color: #668CAD;
    padding-top: 5px;
}

.footer_desc h4 {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.footer_desc li {
    height: 30px;
    position: relative;
}

.footer_desc li+li {
    margin-top: 4px;

}

.footer_desc li::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #D5D5E0;
    /* border-bottom: 1px solid #668CAD; */

}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.footer_container>* {
    width: 30%;


}



.social li::after {
    width: calc(100% - 30px);
    /* margin-left: 30px; */

}

.social img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 1px;

}

.copyright {
    display: flex;
    justify-content: center;

    background-color: #383838;

}

.copyright p {
    color: #9E9E9E;
    padding: 40px 0;
}

/* For WebKit (Safari, Google Chrome etc) */
::-webkit-scrollbar {
    width: 10px;

    /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: aliceblue;
    /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: var(--logo);
    border-radius: 4px;
    /* color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-active);
    /* color of the thumb on hover */
}





@media (max-width:960px) {
    .about .cards_wrapper {
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 10px;




    }
}

@media (max-width:790px) {
    .common_section {
        padding: 40px 0;
    }

    .title_wrapper,
    .tabs_nav {
        margin-bottom: 30px;
    }


    .footer_container {
        justify-content: space-evenly;
        gap: 30px;
    }

    .footer_container>* {
        min-width: 260px;
    }

    .footer_desc {
        padding-top: 15px;
    }

    .footer_desc h4 {
        margin-bottom: 15px;
    }

}

@media (max-width:650px) {


    .tabs_item h4 {
        font-size: 25px;
    }

    .tabs_nav button {
        display: block;
        margin: 0 auto;
        padding: 10px 23px;
        line-height: normal;

    }

    .tabs_nav button+button {
        margin-left: auto;
        margin-top: 10px;
    }
}

@media (max-width:600px) {

    /* .common_section {
        padding: 40px 0;
    } */

    /* .title_wrapper {
        margin-bottom: 30px;
    } */


    .services .cards_wrapper {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .services .card {
        width: 90%;
    }
}


@media (max-width:400px) {

    body {
        font-size: 12px;
    }

    .header_nav li+li {
        margin-left: 25px;
    }

    .welcome_title {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .welcome_links a {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome_links *+* {
        margin-top: 20px;
        /* margin-left: 0; */
    }
}


@media (max-width:340px) {
    .about .card {
        max-width: 270px;
    }

    .cards_wrapper h4 {
        font-size: 16px;
    }

    .services .link_more {
        font-size: 14px;
    }
}